{% block content %}

<a href={% url 'commissions:edit' pk=object.pk %}>Edit Commission</a>

<h2>{{ commission.title }}</h2>
<ul>
    <li>{{ commission.description }}</li>
    <li>Author: {{ commission.author }}</li>
    <li>People required: 
        {% for job in commission.job.all %}
            {{ commission.people_required|add:job.manpower_required}}
        {% endfor %}
        
        </li>
    <li>Created on: {{ commission.created_on }}</li>
    <li>Last updated: {{ commission.updated_on }}</li>
</ul>

<h3>Jobs</h3>
<ul>
    {% for job in commission.job.all %}
    <li>{{ job.entry }}</li>
    <li>Job created on {{ job.created_on }}</li>
    <li>Job updated on {{ job.updated_on }}</li>
    <br>
    {% endfor %}
</ul>


{% endblock %}