{% block content %}

<a href={% url 'commissions:edit' pk=object.pk %}>Edit Commission</a>

<h2>{{ commission.title }}</h2>
<ul>
    <li>{{ commission.description }}</li>
    <li>Author: {{ commission.author }}</li>
    <li>People required: {{ total_manpower }}</li>
    <li>Open Positions: {{ open_manpower }}</li>
    <li>Created on: {{ commission.created_on }}</li>
    <li>Last updated: {{ commission.updated_on }}</li>
</ul>

<h3>Jobs</h3>
    {% for job in commission.job.all %}
    <ul>
    <li>{{ job.entry }}</li>
    <li>Manpower Required: {{ job.manpower_required }}</li>
    <a href={% url 'commissions:job_detail' pk=job.pk %}><button>View Job Details</button></a>
    <br>
    <!--<form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Apply</button>
    </form>-->
    </ul>
    {% endfor %}

<!--<h3>Job Applications</h3>
<ul>
    {% for jobApp in jobApp_list %}
            <li>{{ jobApp.job }}</li>
            <li>{{ jobApp.applicant }}</li>
            <li>{{ jobApp.status }}</li>
            <br>
    {% endfor %}
    </ul>-->

{% endblock %}