{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <a href={% url 'commissions:list' %}>Commission List</a>
    <h1>{{ commission.title }}</h1>
    <p style="margin-right:350px">{{ commission.description }}</p>
    <hr style="margin-top:30px;">
    <div class="card" style="width: 40rem; margin-top:30px">
        <div class="card-body">
            <div class="row justify-content-start">
                <div class="col"><b>Author</b> <p>{{ commission.author }}</p></div>
                <div class="col"><b>People Required</b> <p>{{ total_manpower}}</p></div>
                <div class="col"><b>Open Positions</b> <p>{{ open_manpower }}</p></div>
            </div>
            <br>
            <div class="row justify-content-start">
                <div class="col"><b>Status</b> <p>{{ commission.status }}</p></div>
                <div class="col"><b>Created on</b> <p>{{ commission.created_on }}</p></div>
                <div class="col"><b>Last updated</b> <p>{{ commission.updated_on }}</p></div>
            </div>
        </div>
    </div>
    <br>
    <a href={% url 'commissions:edit' pk=object.pk %} class='btn btn-warning'>Edit Commission</a>
    <hr style="margin-top:30px;">
</div>    
<br>

<div class="container">
    <h2>Jobs</h2>
        {% for job in commission.job.all %}

        <div class="card" style="width: 32rem">
            <div class="card-header"><b>{{ job.role }}</b></div>
            <div class="card-body">
                <p class="card-text">{{ job.entry }}</p>
                <br>
                <div class="row justify-content-start">
                    <div class="col"><b>Status</b> <p>{{ job.status }}</p></div>
                    <div class="col"><b>Manpower Required</b> <p>{{ job.manpower_required }}</p></div>
                </div>
                {% if commission.author == user %}
                    <a href={% url 'commissions:job_detail' pk=job.pk %} class="btn btn-warning">View Job Details & Review Applications</a>
                {% else %}
                    <a href={% url 'commissions:job_detail' pk=job.pk %} class="btn btn-primary">View Job Details & Apply</a>
                {% endif %}
            </div>
        </div>
        <br>
        {% endfor %}
</div>
{% endblock %}