{% block content %}

<ul>
    <li>{{ job.commission.title }}</li>
    <li>{{ job.role }}</li>
    <li>{{ job.manpower_required }}</li>
    <li>{{ job.status }}</li>
    <li>{{ job.entry }}</li>
    <li>{{ job.created_on }}</li>
    <li>{{ job.updated_on }}</li>
</ul>

<h1>Apply to Job</h1>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form }}
    <button type="submit">Apply</button>
</form>

<h2>Job Applications</h2>
<ul>
{% for jobApp in jobApps %}
        <li>{{ jobApp.job }}</li>
        <li>{{ jobApp.applicant }}</li>
        <li>{{ jobApp.status }}</li>
        <br>
{% endfor %}
</ul>

{% endblock %}