{% extends 'wiki/base.html' %}
{% load static %}
{% block title %}Wiki Article List{% endblock %}
{% block content %}
<h2>List of Wiki Articles</h2>
    {% if request.user.is_authenticated %}
        <form method="POST" action="{% url 'logout' %}">
            {% csrf_token %}
            <input type="submit" value="Logout">
        </form>
        <a href="{% url 'wiki:article_create' %}">Create new article</a>
            
                <h3>Your Articles</h3>
                <ul>
                    {% for category in object_list %}
                        {% for article in category.articles.all %}
                            {% if article.author.user == request.user %}
                                <li><a href="{% url 'wiki:article_detail' pk=article.pk %}">
                                    {{ article.title }}
                                </a></li>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </ul>

                <h3>All Articles</h3>
                {% for category in object_list %}
                    <ul>
                        {% for other_article in category.articles.all %}
                            {% if other_article.author.user != request.user %}
                                <li><a href="{% url 'wiki:article_detail' pk=other_article.pk %}">
                                    {{ other_article.title }}
                                </a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% endfor %}
    {% else %}
        <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            <input type="submit" value="Login">
        </form>
            <h3>All Articles</h3>
            {% for category in object_list %}
                <ul>
                    {% for article in category.articles.all  %}
                        <li>
                            <a href="{% url 'wiki:article_detail' pk=article.pk %}">
                                {{ article.title }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% endfor %}
    {% endif %}
{% endblock %}