{% extends 'base.html' %}

{% block content %}
	<html>
		<div class="container text-center">
		
			<div class="row">
				<div class="col">
					<h1>Hobby Site</h1>
				</div>
			</div>
			
			<div class="row">
				<div class="col">
					<div class="d-grid gap-2">
						<a href="{% url 'merchstore:items' %}" class="btn btn-warning btn-lg text-nowrap">Merchandise Store</a>
						<a href="{% url 'wiki:article-list' %}" class="btn btn-warning btn-lg text-nowrap">Wiki</a>
						<a href="{% url 'blog:article_list' %}" class="btn btn-warning btn-lg text-nowrap">Blog</a>
						<a href="{% url 'forum:thread_list' %}" class="btn btn-warning btn-lg text-nowrap">Forum</a>
						<a href="{% url 'commissions:list' %}" class="btn btn-warning btn-lg text-nowrap">Commission Board</a>
						Your Dashboard
						
						{% if not user.is_authenticated %}
							<a href="{% url 'login' %}" class="btn btn-primary">Log in</a>
						{% endif %}
					</div>
			</div>
		</div>
	</html>
{% endblock %}


  
