{% extends 'profile/base.html' %}
{% load static %}
{% block title %}Profile{% endblock %}
{% block content %}
{% if request.user.is_authenticated %}
    <form method="POST" action="{% url 'logout' %}">
        {% csrf_token %}
        <input type="submit" value="Logout">
    </form>
    {% if request.user == profile.user%}
        <form method="POST">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Edit profile">
        </form>
    {% endif %}
{% else %}
    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        <input type="submit" value="Login">
    </form>
{% endif %}
{% endblock %}