{% extends 'merchstore/base.html' %}
{% load static %}
{% block title %} Cart {% endblock %}
{% block content %}

<ul>

<h2>Your Cart</h2>
  {% for product in transaction.item.all %}
  <dl>
    <dt><h3>Products from {{product}}</h3></dt>
  </dl>
  <ol>
    <h4>Items</h4>
      {% for item in owner.item.Transaction.all %}
      <li><strong>{{item.product}}</strong> <i>({{item.amount}})</i> </li>
      {% endfor %}
  </ol>
  {% endfor %}
</ul>

<a href="{% url 'merchstore:items' %}">Return to Product Listings</a>


{% endblock %}
