{% extends 'merchstore/base.html' %}
{% load static %}
{% block title %} Product {% endblock %}
{% block content %}


<h2> {{product.name}} </h2>
<i> Php {{product.price}}</i> <br>
<br>
<strong>Description:</strong> {{product.description}}

<dl>
    <dt><i>Category:</i> <strong>{{product.product_type.name}}</strong></dt>
    <dd>{{product.product_type.description}}</dd>
</dl>

{% if user != product.owner %}
    <form method = "POST" enctype = "multipart/form-data">
        {% csrf_token %}
        {{form}}
        <button type = "submit">Submit</button>
    </form>
{% endif %}

{% if request.user.is_authenticated %}
    {% if user == product.owner %}
        <a href="{{object.get_absolute_url}}/edit">Edit Item Information</a>
    {% endif %}
{% endif %}



{% endblock %}
