{% extends 'merchstore/base.html' %}
{% load static %}
{% block title %} Product {% endblock %}
{% block content %}


<h2> {{product.name}} </h2>
<i> Sold by: {{product.owner}} </i> <br>
<i> Php <strong>{{product.price}}</strong></i> <br>
<br>
<strong>Description:</strong> {{product.description}}
<br>
<strong>Stock:</strong> {{product.stock}}


<dl>
    <dt><i>Category:</i> <strong>{{product.product_type.name}}</strong></dt>
    <dd>{{product.product_type.description}}</dd>
</dl>

{% if user != product.owner %}
    <form method = "POST">
        {% csrf_token %}
        {{form}}
        {% if product.stock < 1 %}
        <button type="submit" disabled>Buy</button>
        {% else %}
            {% if request.user.is_authenticated %}
                <button type = "submit" onclick="location.href='{{cart}}'">Buy</button>
            {% else %}
                <button onclick="location.href='{% url 'login' %}'">Buy</button>
            {% endif %}

        {% endif %}
    </form>
{% endif %}

{% if request.user.is_authenticated %}
    {% if user == product.owner %}
        <a href="{{object.get_absolute_url}}/edit">Edit Item Information</a>
    {% endif %}
{% endif %}



{% endblock %}
