{% extends 'merchstore/base.html' %}
{% load static %}
{% block title %} Transactions {% endblock %}
{% block content %}

<ul>
<h2>Your Transactions</h2>
  {% for buyer in buyers %}
    <dl>
      {% if buyer != user %}
      <dt><h3>Bought by {{buyer}}</h3></dt>
      {% endif %}
    </dl>
    <ol>
    {% for transaction in object_list %}
      {% if transaction.buyer == buyer %}
        {% if transaction.product.owner == user %}
          <li><strong>{{transaction.product.name}} ({{transaction.status}})</strong> </li>
            <ul>
              <li>{{transaction.amount}} item(/s)</li>
            </ul>
        {% endif %}
      {%endif%}
    {% endfor %}
    </ol>
  {% endfor %}
</ul>
<a href="{% url 'merchstore:items' %}">Return to Product Listings</a>
{% endblock %}

